
.vscode/
.DS_Store
.env
.envrc
*.asc
build/
dist/
*.pyc
*.egg-info/
**/__pycache__/*
.venv
node_modules/


annotated/
!annotated/.gitkeep

photos/
!photos/.gitkeep
faces.json
.playwright-cli/
!image_yolo_faces/static/dist/
!image_yolo_faces/static/dist/**
